.App {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;

}

.task-conteiner {
    padding-top: 10px;
border-radius: 15px;
    border: 1px solid black;
    min-width: 200px;
    min-height: 300px;

}
.task{

display: flex;
}
.finished{
     opacity: 30%;
}
.error{
    color: red;
}
.errorForInput{
    outline: 3px;
    border: 0.1px solid red;
    box-shadow:0 0 0 3px tomato
}
 button{
    margin-left: 10px;
}
.filterTasks{
    background-color: #8dfda8;
}