.App {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;

}

.task-conteiner {
border-radius: 15px;
    border: 1px solid black;
    min-width: 200px;
    min-height: 300px;

}
.task{
display: flex;

}
.filterButton button{
    margin-left: 10px;
}
.filterTasks{
    background-color: #8dfda8;
}